.App {
    min-height: 100vh;

}

.container {
    max-width: 1230px;
    padding: 90px 15px 0;
    padding-top: 90px;
    margin: 0 auto;
    color: #fff;
}

.containerXl {
    max-width: 1680px;
    padding: 90px 15px 0;
    padding-top: 90px;
    margin: 0 auto;
    color: #fff;
}