.wrapper {
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: appearance 1s ease-in-out;
}

.content {
    height: 400px;
    background-image: url('https://static.insales-cdn.com/images/products/1/5908/538515220/large_large_large_hit_4.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 4px 4px 7px #000;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        position: relative;
        text-align: center;
        font-size: 120px;
        animation: slide 1.2s ease-in-out;
    }

    h3 {
        position: relative;
        text-align: center;
        font-size: 60px;
        animation: slide .9s ease-in-out;
    }
}

.cartIcon {
    position: relative;
    text-align: center;
    animation: slide .6s ease-in-out;
}

.link {
    position: relative;
    width: 200px;
    margin: 0 auto;
    animation: slide .3s ease-in-out;
}

/* animations */

@keyframes appearance {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        top: -100%;
    }

    to {
        top: 0;
    }
}