@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 90px 20px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    h6 {
        font-family: 'Titillium Web', sans-serif;
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .socialLink {
        position: relative;
        gap: 10px;
        transition: .2s;

        &:hover {
            transform: scale(1.05);
        }

        img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 6px;
            left: -30px;

        }
    }

    .link {
        transition: .2s;

        &:hover {
            color: #e62143;
        }

    }

    .linkList {
        position: relative;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}