@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lemon&display=swap');

.carouselWrapper {
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
    font-family: 'Lemon', serif;
    text-align: center;
}

.carouselTitle {
    font-size: 90px;
    text-shadow: 1px 4px 4px black;
}

.carouselSubTitle {
    margin-top: 20px;
    font-size: 30px;
    text-shadow: 1px 4px 4px black;
}

.slide {
    width: 100%;
}

.sliderControlButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin: 20px;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}