@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lemon&display=swap');

.infoBuy {
    margin-top: 50px;
    background-image: url('https://hoenalu.com/sites/default/files/blog/vocabulario-remo/remada-sup-alta.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-family: 'Lemon', serif;
}

.shadow {
    background-color: rgb(0, 0, 0, .5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.block {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
    gap: 400px;
    text-shadow: 1px 4px 4px black;
}

.blockAbout {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 40px;
}



.blockBtn {
    background: #e62143;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab", "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: 12px 60px;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .1s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}

.blockBtn:active {
    border-bottom-style: none;
    border-color: #dadada;
    box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
    outline: 0;
    transform: scale(0.96);
    background: #ca1f3b;
}

.blockBtn:hover {
    border-bottom-style: none;
    border-color: #dadada;
    background: #b3233b;

}